@import './base.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: $bg-dark;
}

.logo_font {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5rem;
}

.custom_link {
  color: $bg-dark;

  &:hover {
    background: $primary;
  }
}

.custom_input {
  background: $bg-dark;
  color: $bg-alt;

  &:focus {
    background: $bg-bright;
    color: $bg-dark;
    font-weight: bolder;
  }
}